@use 'vars';
@use 'mixins';

.detail-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid vars.$cFaint;
  padding: 0 0 2rem;
  
  @include mixins.miw(60rem) {
    padding: 1rem 2rem 3rem;
  }
}

.detail-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;

  @include mixins.miw(60rem) {
    padding: 2rem;
  }
}

.poster-col {
  flex: 0 1 15rem;
}

.poster {
  width: 100%;
}

.data-col {
  flex: 0 0 100%;
  
  @include mixins.miw(48rem) {
    flex: 1 0 0px;
  }
}

.table {
  max-width: 100%;
  overflow-x: auto;
}

.table__body {

}

.table__row {
  
}

.table__cell {
  @include mixins.maw(36rem) {
    display: block;
  }

  @include mixins.miw(36rem) {
    vertical-align: top;
  }

  &#{&}--name {
    font-weight: bold;
    white-space: nowrap;

    @include mixins.miw(36rem) {
      padding-right: 5rem;
    }
  }

  &#{&}--value {
    padding-bottom: 1rem;

    @include mixins.miw(36rem) {
      padding-bottom: 0;
    }
  }
}

.table-list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}
