@use 'mixins';
@use 'vars';

.header {
  position: sticky;
  top: 0;
  padding: 0 1rem;
  background: vars.$bgLight;
  border-bottom: 1px solid vars.$cFaint;

  @include mixins.miw(60rem) {
    border: none;
  }
}

.header-nav {
  padding: 1rem 0;
  
  @include mixins.miw(60rem) {
    border-bottom: 1px solid vars.$cFaint;
  }

  @include mixins.miw(62rem) {
    padding: 1rem;
  }
}

.nav-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.nav-item {
  display: inline-block;
  margin-right: 2rem;
}

.nav-item__link {
  color: vars.$cDark;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
}
