@use 'vars';

%button {
  display: inline-flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: vars.$bgLight;
  border: 1px solid vars.$cFaint;
  cursor: pointer;
  transition: border-color 300ms;

  &:disabled {
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    border-color: vars.$cHighlight;
    transition: padding 0ms;
  }
}

%button--active {
  color: vars.$cHighlight;
  font-weight: 700;
  border: 2px solid vars.$cHighlight;
}
